<div align="center">
    <mat-card class="example-card" >
        <mat-card-header>
         <h1>Claim Form</h1>
        </mat-card-header>
    
          <mat-form-field>
            <input matInput placeholder="title" name="title" [(ngModel)]="title">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-select placeholder="Problem Type" name="problem"   [(ngModel)]="problem">
              <mat-option value="Software">Software</mat-option>
              <mat-option value="Hardware">Hardware</mat-option>
              
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <textarea matInput placeholder="your text ..." name="content" [(ngModel)]="content" rows="6" cols="100">
            </textarea>
          </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="loading" (click)="send()">Send</button>
   
        </mat-card-actions>
        

        <div *ngIf="loading"> <img src="../../../assets/images/loader.gif" width="25px"> please wait while file uploading... </div>
      
      </mat-card>
</div>
