<div class="example-container">
  <h1>Update your  article </h1>
  <mat-form-field>
    <textarea matInput placeholder="your text ..." name="message" [(ngModel)]="message" rows="6" cols="100">
    </textarea>
  </mat-form-field>
 <br>
  <button [disabled]="loading" mat-raised-button color="primary" (click)="Update()">Post you article</button>
  <div *ngIf="loading"> <img src="../../../assets/images/loader.gif" width="25px"> please wait ... </div>
</div>

