




      <div class="example-container">
        <h1>Connect to your account !! </h1>
        <mat-form-field>
          <input matInput placeholder="username" name="username" [(ngModel)]="username">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="password" name="password" [(ngModel)]="password" />
        </mat-form-field>

        <button [disabled]="loading" mat-raised-button color="primary" (click)="signin()">Login</button>
        <div *ngIf="loading">
        </div>
      </div>
