<!--
<div class="row">
  <div class="col-md-12" >
   


  </div>
  <div class="row col-md-12" style="margin: 1cm;"   >

    <div class="col-md-6" >

      <div [hidden]="isLoaded">


        <img src="../../../assets/images/imageuploadeloader.gif">
       <p>Loading data from server ....</p>
      </div>
        <div class="form" [hidden]="!isLoaded">

          <mat-card style="display: flex;
          flex-direction:column;
         ">

            

          </mat-card>

      </div>
    </div>
  </div>


  </div>


-->
<div class="content" style="opacity: 0.8;">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">My 3D  Collection</h4>
                      <p class="category" >
                          <label for="file-upload" data-color="white" style="margin: 1cm;" class="custom-file-upload">
                              <mat-icon>backup</mat-icon>
                              &nbsp;
                              <label style="color:aliceblue;">Upload your costum 3D model</label>
                            </label>
                          <input  type="button" class="btn btn-success" style="visibility: hidden"  (click)="openDialog()" id="file-upload" value="Upload your costum model"/>
                        
       
                  </div>
                  <div class="content all-icons">
                      <div class="row">
                        <div *ngFor="let item of models " 
                        style="width:25%;"
                        class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6" >
                          <div class="font-icon-detail">
                              <img mat-card-image [src]="'http://localhost:3000/uploads/'+item.name" width="250px" height="250px" style="margin-right: 5px;">
                              <h4>{{item.imagename}}</h4><br>
                              <a>Category: {{item.category}}</a><br>
                              <a [routerLink]="'/main/models/details/'+item.stlfilename"  class="btn btn-success">More Details</a>
              
                          </div>

                        </div>
                   
                      </div>


                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
