
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 300px;



}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.custom-file-upload {
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background: rgb(84, 82, 211);
}
input[type="file"] {
  display: none;
}
